body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: rgb(227 239 246);
   
}
/* backdrop styling */
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.3);
    display: none;
}
/* overlay styling */
.overlay{
    position: fixed;
    top: 25%;
    left: 22.5%;
    background-color: white;
    width: 55%;
    border-radius: 8px;
    display: none;
}
.overlay label{
    display: block;
    margin-bottom: 0.4rem;
    font-weight: bold;
}
.overlay input{
    width: 15rem;
    padding: 0.4rem 0.2rem;
    margin-bottom: 0.4rem;
    border: 1px solid black;
    font-size: 1rem;

}
.overlay button{
    padding: 0.4rem 1.4rem;
    margin: 0.8rem 0.3rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border-color: transparent;
    font-size: 1.1rem;
    
}
#cancel-btn{
    background-color: transparent;
    color: blueviolet;
}
#cancel-btn:hover{
    background-color: rgb(204, 165, 241,0.5);
}
#submit-btn{
    background-color: blueviolet;
    color: white;
}
#submit-btn:hover{
    background-color: rgb(95, 10, 173);
}


/* header section styling */
header{
    background-color: blueviolet;
    margin: 0 auto;
    text-align: center;
    
    padding: 1rem 4%;
    color: rgb(255, 249, 249);

}
header h2{
    font-size: 2.5rem;
   
    
}
header p{
    font-size: 1.2rem;  
}

/* players info section styling */
#players-info{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.players{
    margin: 2rem;
    background-color: rgb(242 186 242);
    padding: 0.6rem 5rem;
    text-align: center;
    border-color: transparent;
    border-radius: 6px;
    width: 9rem;
    box-shadow: 2px 2px 6px rgb(0,0,0,0.2);
    
}
.players p:nth-of-type(1){
    font-weight: bold;
}
.players h2{
    color: rgb(132, 34, 223);
}
.symbol{
    font-size: 2rem;
    font-weight: bold;
    margin: 0.7rem;
}
.edit-player-btn{
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    color: rgb(131, 26, 230);
    
    
}
.edit-player-btn:hover{
    background-color: rgb(241 143 241);
        
    cursor: pointer;
}

/* game start btn */
#start-game-btn{
    padding: 0.5rem 2rem;
    margin: 0 auto;
    background-color: blueviolet;
    border-radius: 4px;
    border-color: transparent;
    color: white;
    font-size: 1.1rem;
}
#start-game-btn:hover{
background-color: rgb(158, 67, 243);
cursor: pointer;
}

/* game status area */

#game-status{
    background-color: rgb(51, 11, 88);
    color: white;
    margin: 3rem auto 0 auto;
    padding: 0.6rem 1rem;
    width: 40rem;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgb(0,0,0,0.2);
    display: none;
}
#game-status h2{
    font-size: 2.4rem;
    font-weight: bold;
}

/* game board area */
#game-board{
    display: none;
    margin-bottom: 5rem;
}
#game-board span{
    font-weight: bold;
    
}
#game-board ol{
   
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,7rem);
    grid-template-rows: repeat(3,7rem);
    justify-content: center;
    gap: 0.5rem;
}
#game-board li{
    background-color: rgb(242 186 242);
    width: 7rem;
    height: 7rem;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
}
#game-board li:hover{
    background-color: blueviolet;
    cursor: pointer;
}
#game-board li.selected{
    background-color: blueviolet;
}